@import "reset";
@import "mixins";
@import "transitions";
@import "home";


.icon {
  color: #666;
  font-size: px2rem(16);
}

.title {
  color: #666;
  font-size: px2rem(16);
  font-weight: bold;
}

$color-blue: rgb(74, 171, 255);
$color-blue-transparent: rgba(74, 171, 255, .5);

._search-text{
  color: $color-blue;
}
