@import "reset";
@import "mixins";
@import "transitions";
@import "home";


.icon {
  color: #666;
  font-size: px2rem(16);
}

.title {
  color: #666;
  font-size: px2rem(16);
  font-weight: bold;
}

._search-text{
  color: #40a9ff;
}
